name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: nixbuild/nix-quick-install-action@v30
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true
            # Dica: Adicione isso para o Nix não reclamar de permissão ao usar caches
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - uses: cachix/cachix-action@v15
        with:
          name: viitorags
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      # -------------------------------

      - run: nix build .
